VITE_RAZORPAY_KEY_ID=xxxxxxxxxxxxxx
# FIREBASE CONFIG
VITE_FIREBASE_API_KEY=xxxxxxxxxxxxxxxxxxxxx
VITE_FIREBASE_AUTH_DOMAIN=ccccccccccccccc
VITE_FIREBASE_PROJECT_ID=cccccccccccccc
VITE_FIREBASE_STORAGE_BUCKET=ccccccccccccccccc
VITE_FIREBASE_MESSAGING_SENDER_ID=xxxxxxxxxxxxxxx
VITE_FIREBASE_APP_ID=ccccccccccccccccccccc

# SUPABASE CONFIG
VITE_SUPABASE_URL=xxxxxxxxxxxxxxxxxxxxx
VITE_SUPABASE_ANON_KEY=ccccccccccccccccccccccc

VITE_GA_MEASUREMENT_ID=vvvvvvvvvvvvvvvv